################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tests/AccountLedger.FunctionalTests/bin/Debug/net5.0
/tests/AccountLedger.FunctionalTests/obj/Debug/net5.0
/tests/AccountLedger.FunctionalTests/obj/Release/net5.0
/tests/AccountLedger.FunctionalTests/obj
/tests/AccountLedger.IntegrationTests/bin
/tests/AccountLedger.IntegrationTests/obj/Debug/net5.0
/tests/AccountLedger.IntegrationTests/obj/Release/net5.0
/tests/AccountLedger.IntegrationTests/obj
/tests/AccountLedger.UnitTests/bin
/tests/AccountLedger.UnitTests/obj/Debug/net5.0
/tests/AccountLedger.UnitTests/obj/Release/net5.0
/tests/AccountLedger.UnitTests/obj
/src/AccountLedger.Core/bin/Debug/net5.0
/src/AccountLedger.Core/obj/Debug/net5.0
/src/AccountLedger.Core/obj/Release/net5.0
/src/AccountLedger.Core/obj
/src/AccountLedger.Infrastructure/bin/Debug/net5.0
/src/AccountLedger.Infrastructure/obj/Debug/net5.0
/src/AccountLedger.Infrastructure/obj/Release/net5.0
/src/AccountLedger.Infrastructure/obj
/src/AccountLedger.SharedKernel/bin/Debug/net5.0
/src/AccountLedger.SharedKernel/obj/Debug/net5.0
/src/AccountLedger.SharedKernel/obj/Release/net5.0
/src/AccountLedger.SharedKernel/obj
/src/AccountLedger.Web/bin/Debug/net5.0
/src/AccountLedger.Web/obj/Debug/net5.0/ref
/src/AccountLedger.Web/obj/Debug/net5.0
/src/AccountLedger.Web/obj
